* {
  margin:  0;
  padding: 0;
}

h1 {
  margin: 1em;
}

a {
  color: #3434df;
}

.App {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > * {
  width: 100%;
  text-align: center;
}